@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin : 0;
    padding: 0;
    background-color: #222831;
    color: #EEEEEE;
    font-family: "Poppins", sans-serif;
    height: 100%;

}

header {
    text-align: center;
}


form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 3px;
}

input[type="text"] {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 250px;
    margin-right: 10px;
}

input[type="text"]:focus {
    outline: none;
    border-color: #50727B;
}

button {
    padding: 10px 15px;
    background-color: #50727B;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #41565c;
}

.details{
    display: flex;
    justify-content: center;
    margin: 10px 25px;
}

.poster-card{
    display: flex;
}

.info-card{
    padding :10px;
    margin : 10px;
    border-radius: 10px;
    background-color: #31363F;
}   

@media (max-width:650px) {
    .details{
        flex-direction: column;
        justify-content: center;
    }
    .poster-card{
        justify-content: center;
    }
}
